.video-player-container {
  width: 100%;
  max-width: 66%;
  margin-right: 1.5rem;
}

.video-player {
  height: 66vh;
  width: 100%;
  border: none;
}

.video-player-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: white;
}

/* .video-player-details {
} */
