* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: Helvetica;
}

.card {
  border: 2px solid black;
}

.card-img {
  height: 400px;
  width: 300px;
}
