* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: Helvetica;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 240px;
}

.card-img {
  width: 100%;
}

.img-placeholder {
  height: 400px;
  width: 100%;
}

.text-placeholder {
  display: inline-block;
  margin-top: 4px;
  border-radius: 9999px;
  height: 16px;
  width: 100%;
}

.bg-animation {
  background-image: linear-gradient(
    to right,
    rgba(193, 235, 239, 0.4) 0%,
    rgba(41, 190, 202, 0.2) 10%,
    rgba(193, 235, 239, 0.4) 20%,
    rgba(193, 235, 239, 0.4) 100%
  );
  background-size: 200% 100%;
  animation: position 1s linear infinite;
}

@keyframes position {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
