.video-toolbar-container {
  display: flex;
}

.video-toolbar-container span {
  display: flex;
  justify-content: center;
  width: 20px;
}

.video-toolbar-container > button {
  border: none;
}

.video-toolbar-subscribe {
  padding: 0.625rem 0.875rem;
  border-radius: 9999px;
  background-color: rgba(241, 241, 241, 1);
  font-size: 0.875rem;
  font-weight: 700;
  color: rgba(15, 15, 15, 1);
}

.video-toolbar-subscribe:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 241, 0.9);
}

.video-toolbar-like,
.video-toolbar-dislike,
.video-toolbar-download,
.video-toolbar-share {
  padding: 0.4rem 0.875rem;
  background-color: rgba(41, 40, 40, 1);
  font-size: 0.875rem;
  font-weight: 700;
  color: rgba(241, 241, 241, 1);
}

.video-toolbar-like:hover,
.video-toolbar-dislike:hover,
.video-toolbar-download:hover,
.video-toolbar-share:hover,
.video-toolbar-menu:hover {
  cursor: pointer;
  background-color: rgba(63, 63, 63, 1);
}

.video-toolbar-download,
.video-toolbar-share {
  display: flex;
  align-items: center;
}

.video-toolbar-download span,
.video-toolbar-share span {
  margin-right: 8px;
}

.video-toolbar-like {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.video-toolbar-dislike {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.video-toolbar-download,
.video-toolbar-share {
  border-radius: 9999px;
}

.video-toolbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(41, 40, 40, 1);
}

.video-toolbar-menu span {
  height: 24px;
}
