.video-container {
  display: flex;
  margin-bottom: 0.6rem;
  font-family: Helvetica;
}

.video-img {
  height: 94px;
  width: 168px;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.video-details {
  flex: 1;
  margin-top: 0.2rem;
  cursor: pointer;
}

.video-title {
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
  color: rgba(241, 241, 241, 1);
  font-size: 0.875rem;
  font-weight: 700;
}

.video-channel,
.video-published {
  margin-top: 0;
  color: rgba(170, 170, 170, 1);
  font-size: 0.75rem;
}

.video-channel {
  margin-bottom: 0.2rem;
}
