.video {
  position: relative;
  display: flex;
  margin-bottom: 0.6rem;
  font-family: Helvetica;
}

.video__img {
  height: 94px;
  min-width: 168px;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  object-fit: cover;
  cursor: pointer;
}

.video__details {
  height: fit-content;
  margin-top: 0.2rem;
  cursor: pointer;
}

.video__title {
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
  width: 90%;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video__channel,
.video__published {
  margin: 0;
  color: rgba(170, 170, 170, 1);
  font-size: 0.75rem;
}

.video__channel {
  margin-bottom: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.video__icons {
  position: absolute;
  top: 0.2rem;
  left: 136px;
}

.video__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  width: 1.8rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--black);
}

.video__menu {
  position: absolute;
  top: 0.2rem;
  right: 0;
}
