* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(94, 254, 214, 1);
}

.search {
  position: relative;
  height: 50px;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(190, 197, 205, 1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search .input {
  height: 100%;
  width: 50px;
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.25rem;
  transition: width 0.3s ease;
}

.btn img {
  padding: 0.4rem;
  height: 100%;
  width: 100%;
  fill: red;
}

.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
