.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 90%;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.header-logo img {
  height: 60px;
}

.header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  border: none;
}

.header-container span {
  display: flex;
  justify-content: center;
  width: 20px;
}

.header-button-group {
  display: flex;
  align-items: center;
}

.header-button-group button {
  background-color: transparent;
  margin-right: 1.5rem;
}

.test {
  display: flex;
  width: 40%;
}

.test > button {
  background-color: transparent;
}

.test > button > span {
  width: 16px;
  background-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container > button {
  background-color: transparent;
}
