.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 90%;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.header-logo img {
  height: 60px;
}

.header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  border: none;
}

.header-container span {
  display: flex;
  justify-content: center;
  width: 20px;
}

.header-button-group {
  display: flex;
  align-items: center;
}

.header-button-group button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  margin-right: 1.5rem;
}

.header-button-group button:hover {
  margin-right: 1.5rem;
  border-radius: 50%;
  background-color: rgba(63, 63, 63, 1);
  cursor: pointer;
}

.test {
  display: flex;
  width: 40%;
}

.test > button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 1);
}

.test > button:hover {
  cursor: pointer;
  background-color: rgba(63, 63, 63, 1);
}

.test > button > span {
  width: 14px;
  background-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-container > button {
  background-color: transparent;
  cursor: pointer;
}
