.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  background-color: transparent;
}

.header-container span {
  display: flex;
  justify-content: center;
  width: 20px;
}

.header-container div {
  display: flex;
}
