.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: rgba(124, 95, 190, 1);
  color: var(--white);
  font-family: Helvetica;
  cursor: pointer;
}
