.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(124, 95, 190, 1);
  color: white;
  font-family: Helvetica;
  cursor: pointer;
}
.avatar span {
  padding-top: 2px;
}
