:root {
  --black: rgba(15, 15, 15, 1);
  --white: rgba(241, 241, 241, 1);
  --white-hover: rgba(241, 241, 241, 0.9);
  --grey: rgba(34, 34, 34, 1);
  --grey-hover: rgba(63, 63, 63, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--black);
}

.page-container {
  height: 100vh;
  padding: 0 20px;
}

/* utilities */

.flex {
  display: flex;
}
