.search {
  display: flex;
  flex: 1;
  height: 40px;
}

.search__input {
  flex: 1;
  padding-left: 1rem;
  border: 1px solid rgba(48, 48, 48, 1);
  border-radius: 20px 0 0 20px;
  background-color: rgba(18, 18, 18, 1);
  color: var(--white);
  font-size: 1rem;
}

.search__input:focus {
  outline: none;
  border: 1px solid rgba(0, 104, 181, 1);
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  border: 1px solid rgba(48, 48, 48, 1);
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--grey);
}

.search__btn:hover {
  cursor: pointer;
}
