.search-container {
  display: flex;
  width: 33%;
}

.search-input {
  height: 38px;
  flex: 1;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border: none;
}

.search-btn {
  height: 40px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border: none;
}
