.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.img-container > .label {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-container > img,
.img-container > .label {
  color: rgba(255, 255, 255, 1);
  transition: 400ms ease-in-out;
}

.img-container:hover > img.blur {
  filter: blur(0.6rem);
}

.img-container:hover > img.gray-scale {
  filter: grayscale(1);
}

.img-container:hover > img.zoom {
  transform: scale(1.1);
}

.img-container > .label.fade {
  opacity: 0;
}

.img-container:hover > .label.fade {
  opacity: 1;
}

.img-container > .label.slide-left {
  transform: translate(-100%);
}

.img-container:hover > .label.slide-left {
  transform: translate(0);
}
