* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 320px;
  width: 240px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card > h1,
.card > p {
  color: white;
}
