* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(22, 23, 25, 1);
  text-align: center;
}

.img-container {
  position: relative;
  height: 200px;
  width: 260px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
}

.img-container span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-container span img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.btn-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 15%;
  width: 70%;
  transform: translateY(-50%);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn img {
  height: 64px;
  width: 64px;
}

.pulse {
  animation: pulse 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
